{% extends "base.html" %}  <!-- Imports the NAV from base.html -->
{% block title %}Home Page{% endblock %} <!-- Name in the tab -->
{% block content %}
<h1 class="center">Project Manager Home Page</h1>
<p class="center">Welcome to the Project Management Interface. Created by Ethan Hirsch and Ryan Truong.</p>

<h2 class="center">What is it?</h2>
<p class="center">Projects describe the overall deliverable/product being developed.</p>
<p class="center">Teams consist of multiple members who will share a task pool related to a componenet of the project.</p>
<p class="center"> Members are individuals who can be assigned to a team or task.</p>
<p class="center">Tasks are discrete units of work to be completed towards the completion of a project.</p>
<p class="center">Members to Teams describe the many-many relationship between members and teams.</p>

<h2 class="center">How to Use:</h2>
<p class="center">Managing projects and people is quick and easy with our setup!</p>
<p class="center">For each page, you can add elements via the top table entry, with all blank inputs.</p>
<p class="center">Existing entries will populate successor rows, and can be individually removed and edited.</p>
<p class="center"><p class="center"> To remove an entry, simply click the garbage bin icon next to the chosen row.</p>
<p class="center">To edit an entry, modify any values of the given row, then click the pen icon.</p>
<p class="center">A "*" next to a table column indicates a required value.</p>
<h3 class="center">Tasks:</h3>
<p class="center">Tasks have some special rules which are enforced automatically.</p>
<p class="center">When creating or editing a task, the team assigned to a task must be a team which is related to the project assigned to the task.</p>
<p class="center">Same for assignees-- Members assigned to a task must be a part of the team assigned to the task.</p>
<h3 class="center">Search:</h3>
<p class="center">Most tables have search functionality.</p>
<p class="center">The search will check for the supplied string in multiple relevant columns of each table.</p>
<p class="center">To clear the search filter, just press 'Go' with an empty search query.</p>
{% endblock %}