{% extends "base.html" %}  <!-- Imports the NAV from base.html -->
{% block title %}Members_Teams Page{% endblock %} <!-- Name in the tab -->
{% block content %}
<h1 class="center">Members_Teams Page</h1>
<h3 class="center">Assign members to teams</h3>
<div class="center">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h2>{{message}}</h2>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<table id="table-data" style="width:30%;">
    <tr>
        <th style="width: 60px;"><label>mapID</label></th>
        <th><label>memberID</label></th>
        <th><label>teamID</label></th>
    </tr>
    <tr>
        <form action="#" method="post">
            <td>
                <input type="hidden" name="page" value="membersTeamsPage">
                <input type="text" name="mapID" placeholder="PK" readonly />
            </td>
            <td>
                <select name="memberID" size="1" >
                    <option value="NULL" disabled selected>Select Member</option>
                    {% for member in members %}
                    <option value="{{member['memberID']}}">{{member['fullName']}}</option>
                    {% endfor %}
                </select>
            </td >
            <td>
                <select name="teamID" size="1" >
                    <option value="NULL" disabled selected>Select Team</option>
                    {% for team in teams %}
                    <option value="{{team['teamID']}}">{{team['teamName']}}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <button type="submit" name="action" value="Create"><i class="fa-solid fa-plus"></i></button>
            </td>
        </form>
    </tr>
    <tr id="line-break"><td><br></td>></tr>
    {% for item in data %}
        <tr>
            <form action="#" method="post">
                <td>
                    <input type="hidden" name="page" value="membersTeamsPage">
                    <input type="text" name="mapID" value="{{item['mapID']}}" readonly />
                </td>
                <td>
                    <select name="memberID" id="memberID" size="1" >
                    <option value="{{item['memberID']}}">{{item['fullName']}}</option>
                    {% for member in members %}
                        {% if member['fullName'] != item['fullName'] %}
                        <option value="{{member['memberID']}}">{{member['fullName']}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                 </td>
                <td>
                    <select name="teamID" id="teamID" size="1" >
                    <option value="{{item['teamID']}}">{{item['teamName']}}</option>
                    {% for team in teams %}
                        {% if team['teamName'] != item['teamName'] %}
                        <option value="{{team['teamID']}}">{{team['teamName']}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
                <td class="col-act">
                    <button type="submit" name="action" value="Update"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button type="submit" name="action" value="Delete"><i class="fa-solid fa-trash"></i></button>
                </td>
            </form>
        </tr>
    {% endfor %}
</table>
{% endblock %}