{% extends "base.html" %}  <!-- Imports the NAV from base.html -->
{% block title %}Members Page{% endblock %} <!-- Name in the tab -->
{% block content %}
<h1 class="center">Members Page</h1>
<h3 class="center">Add/Modify/Remove members</h3>
<div id="search-box">
    <form method="POST" action="/members">
        <input type="text" name="search-input" placeholder="Search with memberEmail">
        <input type="submit" name="search" value="Go">
    </form>
</div>
<table id="table-data" style="width:40%;position:relative;left:35px;">
    <tr>
        <th style="width:5%;"><label>memberID</label></th>
        <th style="width:15%;"><label>memberFName</label></th>
        <th style="width:15%;"><label>memberLName</label></th>
        <th><label>memberEmail</label></th>
        <th><label>Actions</label></th>
    </tr>
    <tr>
        <form method="POST" action="#">
            <td>
                <input type="hidden" name="search" value="No">
                <input type="hidden" name="page" value="memberPage">
                <input type="text" name="memberID" placeholder="PK" readonly />
            </td>
            <td><input type="text" name="memberFName" /></td>
            <td><input type="text" name="memberLName" class="input-desc"/></td>
            <td><input type="text" name="memberEmail" class="input-desc"/></td>
            <td>
                <button type="submit" name="action" value="Create"><i class="fa-solid fa-plus"></i></button>
            </td>
        </form>
    </tr>
    <tr id="line-break"><td><br></td></tr>
    {% for item in data %}
    <tr>
        <form method="POST" action="#">
            <td>
                <input type="hidden" name="search" value="No">
                <input type="hidden" name="page" value="memberPage">
                <input type="text" name="memberID" value="{{item['memberID']}}" readonly />
            </td>
            <td><input type="text" name="memberFName" value="{{item['memberFName']}}" /></td>
            <td><input type="text" name="memberLName" value="{{item['memberLName']}}" /></td>
            <td><input type="text" name="memberEmail" value="{{item['memberEmail']}}" /></td>
            <td class="col-act">
                <button type="submit" name="action" value="Update"><i class="fa-solid fa-pen-to-square"></i></button>
                <button type="submit" name="action" value="Delete"><i class="fa-solid fa-trash"></i></button>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>
{% endblock %}