{% extends "base.html" %}  <!-- Imports the NAV from base.html -->
{% block title %}Projects Page{% endblock %} <!-- Name in the tab -->
{% block content %}
<h1 class="center">Projects Page</h1>
<h3 class="center">Add/Modify/Delete projects</h3>
<div id="search-box">
    <form method="POST" action="/projects">
        <input type="text" name="search-input" placeholder="Search with projectName">
        <input type="submit" name="search" value="Go">
    </form>
</div>
<div class="center">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h2>{{message}}</h2>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<table id="table-data" style="position:relative;left:41px;">
    <tr>
        <th style="width:5%;"><label>ID</label></th>
        <th style="width:30%;"><label>Name*</label></th>
        <th><label >Description</label></th>
        <th><label>Actions</label></th>
    </tr>
    <tr>
        <form action="#" method="post">
            <td>
                <input type="hidden" name="search" value="No">
                <input type="hidden" name="page" value="projectPage">
                <input type="text" name="projectID" placeholder="PK" readonly />
            </td>
            <td><input type="text" name="projectName" /></td>
            <td><input type="text" name="projectDesc" class="input-desc"/></td>
            <td>
                <button type="submit" name="action" value="Create"><i class="fa-solid fa-plus"></i></button>
            </td>
        </form>
    </tr>
    <tr id="line-break"><td><br></td></tr>
    {% for item in data %}
    <tr>
        <form action="#" method="post">
            <td>
                <input type="hidden" name="search" value="No">
                <input type="hidden" name="page" value="projectPage">
                <input type="text" name="projectID" value="{{item['projectID']}}" readonly />
            </td>
            <td><input type="text" name="projectName" value="{{item['projectName']}}" /></td>
            <td><input type="text" name="projectDesc" class="input-desc" value="{{item['projectDesc']}}" /></td>
            <td class="col-act">
                <button type="submit" name="action" value="Update"><i class="fa-solid fa-pen-to-square"></i></button>
                <button type="submit" name="action" value="Delete"><i class="fa-solid fa-trash"></i></button>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>
{% endblock %}