{% extends "base.html" %}  <!-- Imports the NAV from base.html -->
{% block title %}Tasks Page{% endblock %} <!-- Name in the tab -->
{% block content %}
<h1 class="center">Tasks Page</h1>
<h3 class="center">Add/Modify/Delete tasks</h3>
<div id="search-box">
    <form method="POST" action="/tasks">
        <input type="text" name="search-input" placeholder="Search with projectName">
        <input type="submit" name="search" value="Go">
    </form>
</div>
<div class="center">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h2>{{message}}</h2>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<table id="table-data" style="width:90%;">
    <tr>
        <th style="width:60px;"><label>ID</label></th>
        <th style="width:15%;"><label>Name</label></th>
        <th style="width:26%;"><label>Description</label></th>
        <th style="width:5%;"><label>Priority</label></th>
        <th style="width:5%;"><label>Deadline</label></th>
        <th style="width:5%;"><label>Difficulty</label></th>
        <th style="width:5%;"><label>Completed</label></th>
        <th><label>Project</label></th>
        <th><label>Team</label></th>
        <th><label>Assignee</label></th>
        <th><label>Actions</label></th>
    </tr>
    <tr>
        <form method="POST" action="#">
            <td>
                <input type="hidden" name="search" value="No">
                <input type="hidden" name="page" value="taskPage">
                <input type="text" name="taskID" placeholder="PK" readonly />
            </td>
            <td><input type="text" name="taskName" /></td>
            <td><input  type="text" name="taskDesc" class="input-desc"/></td>
            <td><input  type="text" name="taskPriority"/></td>
            <td><input  type="date" name="taskDeadline"/></td>
            <td><input  type="text" name="taskDifficulty"/></td>
            <td><input class="checkbox" type="checkbox" name="taskDone" value="1"/></td>
            <td>
                <select name="taskProjectID" id="taskProjectID" size="1" >
                    <option value="None" disabled selected>Select Project</option>
                    {% for project in projects %}
                    <option value="{{project['projectID']}}">{{project['projectName']}}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select disabled name="taskTeamID" id="taskTeamID" size="1" >
                    <option value="None" disabled selected>Select Team</option>
                </select>
            </td>
            <td>
                <select disabled name="taskMemberID" id="taskMemberID" size="1" >
                    <option value="None" disabled selected>Select Member</option>
                </select>
            </td>
            <td>
                <button type="submit" name="action" value="Create"><i class="fa-solid fa-plus"></i></button>
            </td>
        </form>
    </tr>
    <tr id="line-break"><td><br></td></tr>
    {% for item in data %}
    <tr>
        <form method="POST" action="#">
            <td>
                <input type="hidden" name="search" value="No">
                <input type="hidden" name="page" value="taskPage">
                <input type="text" name="taskID" value="{{item['taskID']}}" readonly />
            </td>
            <td><input type="text" name="taskName" value="{{item['taskName']}}" /></td>
            <td><input type="text" name="taskDesc" value="{{item['taskDesc']}}" /></td>
            <td><input type="text" name="taskPriority" value="{{item['taskPriority']}}" /></td>
            <td><input type="date" name="taskDeadline" value="{{item['taskDeadline']}}" /></td>
            <td><input type="text" name="taskDifficulty" value="{{item['taskDifficulty']}}" /></td>

            {% if item['taskDone'] == 0 %}
                <td><input class="checkbox" type="checkbox" name="taskDone" value="1"/></td>
            {% else %}
                <td><input class="checkbox" type="checkbox" name="taskDone" value="1" checked/></td>
            {% endif %}

            <td><select class="select-project" name="taskProjectID" size="1" >
                <option value="{{item['projectID']}}">{{item['projectName']}}</option>
                {% for project in projects %}
                    {% if project['projectName'] != item['projectName'] %}
                    <option value="{{project['projectID']}}">{{project['projectName']}}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </td>

            <td><select class="select-team" name="taskTeamID" size="1" >
                </select>
            </td>

            <td><select class="select-member" name="taskMemberID" size="1" >
                </select>
            </td>

            <td class="col-act">
                <button type="submit" name="action" value="Update"><i class="fa-solid fa-pen-to-square"></i></button>
                <button type="submit" name="action" value="Delete"><i class="fa-solid fa-trash"></i></button>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>
<script src="/static/tasks.js"></script>
{% endblock %}